@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.overlay{
  border-image: fill 1 linear-gradient(rgba(128, 61, 59, 0.8),rgba(128, 61, 59, 0.8));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
